.whiteBloc {
  margin-top: 2em;
  font-family: 'Coustard', sans-serif;
  width: 90%;
  background: white;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}

.imgArticle {
  width: 100%;
}

.figArticle {
  margin: 3%;
  padding: 0.5em;
  border: 2px dashed;
}

.description {
  margin: 3%;
}

.titreArticle{
  font-size: 2.1em;
  color: rgb(19, 73, 0);
}

.description{
  text-align: justify;
}

.recommandation{
  font-style: italic;
  color: rgb(85, 0, 0);
}

.panierAdd{
  text-align: center;
  line-height: 1.5;
  margin-top: 1%;
}

.imgAdd {
  margin-top: 1.5em;
  margin-bottom: 1em;
  width: 15%;
}

input {
  width: 4em;
}

.textAdd {
    font-size: 1.5em;
    color: rgb(0, 39, 84);
}

.price {
  font-size: 3em;
  color: rgb(219, 0, 0);
}

.panierRes {
  border: 1px solid;
  width: 96%;
  margin-left: 2%;
  font-size: 80%;
  text-align: center;
}

.priceRes {
  font-size: 3em;
  color: rgb(219, 0, 0);
}

.imgAddRes {
  margin-top: 1em;
  margin-bottom: 1em;
  width: 50%;
}

.profitez {
  margin: 2em;
  padding: 1em;
  border: 1px dashed rgb(189, 0, 0);
  color: rgb(189, 0, 0);
}

.titreProfitez {
  font-size: 1.5em;
}

.categories {
  margin: 1em;
}

.categorie {
  border: 2px dashed black;
  text-align: center;
  padding-top: 5%;
  font-size: 2em;
  margin-bottom: 0.8em;
}

@media (max-width: 500px){
  .categorie {
    border: 2px dashed black;
    text-align: center;
    padding-top: 5%;
    font-size: 100%;
    margin-bottom: 0.8em;
  }
}

.imgCat {
  width: 90%;
}

.aCat, .aCat:hover, .aCat:focus, .aCat:visited {
  text-decoration: none;
  color: inherit;
}
