.whiteBloc {
  min-height: 20em;
  margin-top: 2em;
  padding-top: 1em;
  font-family: 'Coustard', sans-serif;
  width: 90%;
  background: white;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}

/* Galerie Categorie*/

.imgCat {
  width: 98%;
  border-radius: 2em;
  -webkit-transition: all .5s cubic-bezier( .6, 2, .4, 1);
    -moz-transition: all .5s cubic-bezier( .6, 2, .4, 1);
     -ms-transition: all .5s cubic-bezier( .6, 2, .4, 1);
      -o-transition: all .5s cubic-bezier( .6, 2, .4, 1);
         transition: all .5s cubic-bezier( .6, 2, .4, 1);
         box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                     0 3px 5px rgba(0, 0, 0, .2),
                     0 5px 10px rgba(0, 0, 0, .2),
                     0 20px 20px rgba(0, 0, 0, .15);
}

.categorie:hover .imgCat{
  -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
       -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
           transform: scale(1.2);
}

.row:hover .imgCat:not(:hover) {
  -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
     -ms-filter: blur(5px);
      -o-filter: blur(5px);
         filter: blur(5px);
}

.categorie {
  text-align: center;
  padding: 0.5em;
}

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  color: inherit;
}

/* Galerie Article */

.galerie {
  display: none;
  margin: 1em;
}

.retour {
  position: relative;
  float: right;
  font-size: 1.5em;
  border: 1px solid grey;
  padding: 0.2em;
  border-radius: 1em;
  background-color: rgba(0, 198, 13, 0.31);
}

.article {
  margin: 1em 0.2em;
  border: 1px solid grey;
  border-radius: 1em;
  padding: 1em;
  background-color: rgba(0, 198, 13, 0.31);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}

.imgArticle {
  display: inline;
  width: 100%;
}

.descriptionArticle {

}

.prixArticle {

}

.uniteArticle {

}
