.whiteBloc {
  min-height: 20em;
  margin-top: 2em;
  padding-top: 1em;
  font-family: 'Coustard', sans-serif;
  width: 90%;
  background: white;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}

.pins {

}

/* Galerie Categorie*/

.imgCat {
  width: 98%;
  border-radius: 2em;
  -webkit-transition: all .5s cubic-bezier( .6, 2, .4, 1);
    -moz-transition: all .5s cubic-bezier( .6, 2, .4, 1);
     -ms-transition: all .5s cubic-bezier( .6, 2, .4, 1);
      -o-transition: all .5s cubic-bezier( .6, 2, .4, 1);
         transition: all .5s cubic-bezier( .6, 2, .4, 1);
         box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
                     0 3px 5px rgba(0, 0, 0, .2),
                     0 5px 10px rgba(0, 0, 0, .2),
                     0 20px 20px rgba(0, 0, 0, .15);
}

.categorie:hover .imgCat{
  -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
       -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
           transform: scale(1.2);
}

.row:hover .imgCat:not(:hover) {
  -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
     -ms-filter: blur(5px);
      -o-filter: blur(5px);
         filter: blur(5px);
}

.categorie {
  text-align: center;
  padding: 0.5em;
}

a, a:hover, a:focus, a:visited {
  text-decoration: none;
  color: inherit;
}

/* Galerie Article */

.galerie {
  display: none;
  margin: 1em;
}

.retour {
  position: relative;
  float: right;
  font-size: 1.5em;
  border: 1px solid grey;
  padding: 0.2em;
  border-radius: 1em;
  background-color: rgba(0, 198, 13, 0.31);
  cursor: grab;
}

.article {
  margin: 1em 0.2em;
  border: 1px solid grey;
  border-radius: 1em;
  padding: 1em;
  background-color: rgba(0, 198, 13, 0.31);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}

.imgArticle {
  display: inline;
  width: 100%;
}

.descriptionArticle {
  text-align: justify;
  color: rgb(0, 51, 18);
}

.prixArticle {
  font-size: 5em;
  font-family: 'Cookie', sans-serif;
  color: rgb(74, 0, 0);
}

.prix {
  text-align: center;
}

.titreArticle{
  font-size: 3.5em;
  font-family: 'Cookie', sans-serif;
  color: rgb(74, 0, 0);
}

.recommandation {
  font-size: 1.5em;
}

.centrer {
  display: inline-block;
}


@media (max-width: 500px) {
  .titreArticle{
    font-size: 2em;
  }

  .recommandation {
    font-size: 1em;
  }
}


/* Panier */

.blocPanier{
  width: 95%;
  margin-left: 2.5%;
  border: 1px solid grey;
  min-height: 3em;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
}

.justify{
  text-align: justify;
}

.blocPanier .titre {
  font-family: 'Cookie', serif;
  font-size: 250%;
}

.titreCasier {
  line-height: 3em;
}

@media (max-width: 900px){
  .titreCasier {
    line-height: 1.5em;
  }
}

.imgCasier {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  width: 95%;
}

@media (max-width: 500px){
  .blocPanier .titre {
    font-size: 130%;
  }
}

/* Marche */

.marche h1{
  font-family: 'Cookie', cursive;
  text-align: center;
}

.marche .blocM{
  border: 1px grey dashed;
  padding: 0em 2em 2em;
  margin: 2em;
  min-height: 20em;
}


/* Bouton */
.bouton {
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.bouton:hover {
  text-decoration: none;
  color: #ffffff;
}

.green {
  background: #2DA800;
  background-image: -webkit-linear-gradient(top, #2DA800, #257801);
  background-image: -moz-linear-gradient(top, #2DA800, #257801);
  background-image: -ms-linear-gradient(top, #2DA800, #257801);
  background-image: -o-linear-gradient(top, #2DA800, #257801);
  background-image: linear-gradient(to bottom, #2DA800, #257801);
}

.green:hover{
  background: #41e600;
  background-image: -webkit-linear-gradient(top, #41e600, #2DA800);
  background-image: -moz-linear-gradient(top, #41e600, #2DA800);
  background-image: -ms-linear-gradient(top, #41e600, #2DA800);
  background-image: -o-linear-gradient(top, #41e600, #2DA800);
  background-image: linear-gradient(to bottom, #41e600, #2DA800);
}

.orange {
  background: rgb(227, 136, 0);
  background-image: -webkit-linear-gradient(top, rgb(227, 136, 0), rgb(212, 125, 65));
  background-image: -moz-linear-gradient(top, rgb(227, 136, 0), rgb(212, 125, 65));
  background-image: -ms-linear-gradient(top, rgb(227, 136, 0), rgb(212, 125, 65));
  background-image: -o-linear-gradient(top, rgb(227, 136, 0), rgb(212, 125, 65));
  background-image: linear-gradient(to bottom, rgb(227, 136, 0), rgb(212, 125, 65));
}

.orange:hover{
  background: rgb(244, 182, 89);
  background-image: -webkit-linear-gradient(top, rgb(244, 182, 89), rgb(212, 125, 65));
  background-image: -moz-linear-gradient(top, rgb(244, 182, 89), rgb(212, 125, 65));
  background-image: -ms-linear-gradient(top, rgb(244, 182, 89), rgb(212, 125, 65));
  background-image: -o-linear-gradient(top, rgb(244, 182, 89), rgb(212, 125, 65));
  background-image: linear-gradient(to bottom, rgb(244, 182, 89), rgb(212, 125, 65));
}

.grpB{
  text-align: center;
}

.textarea {
  width: 90%;
}
