{# src/Accueil/AccueilBundle/Resources/views/formLogin.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  <link href="{{ asset('bundles/accueilaccueil/css/Accueil.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
	formulaire de connexion
{% endblock %}

{% block body %}
  <div class="login">
    <h3> Connectez-vous! </h3>
    <form method="post" >
      {{ form_widget(form) }}
    </form>
   	<a href="{{ path('inscriptionClient') }}"> Créer votre compte <a/>
  </div>
{% endblock %}

{% block js %}

{% endblock %}
