{# src/Accueil/AccueilBundle/Resources/views/formLogin.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  <link href="{{ asset('bundles/accueilaccueil/css/Accueil.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
	formulaire de connexion
{% endblock %}

{% block body %}
<h1> Formulaire de connexion</h1>
  <form method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input type="submit" />
  </form>
{% endblock %}

{% block js %}

{% endblock %}
