{# src/Accueil/AccueilBundle/Resources/views/inscriptionClient.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  <link href="{{ asset('bundles/accueilaccueil/css/Accueil.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
	formulaire d'inscription
{% endblock %}

{% block body %}
<p> Inscrivez-vous </p>
{{ form(form) }}
{% endblock %}

{% block js %}

{% endblock %}
