{# src/Boutique/ArticleBundle/Resources/views/article.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  <link href="{{ asset('bundles/accueilaccueil/css/Boutique.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
  Nom de l'article à determiner via Twig
{% endblock %}

{% block body %}
  <div class="container">
    <div class="row">
      
    </div>
  </div>
{% endblock %}
