{# src/Administrator/Administration/views/Histoire/formAjouterHistoire.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  <link href="{{ asset('bundles/accueilaccueil/css/Administration.css') }}" rel="stylesheet">
  <link href="{{ asset('src/Administrator/Administration/AdminBundle/css/colpick.css') }}" rel="stylesheet">

{% endblock %}

{% block title %}
	Page de modification des utilisateurs
{% endblock %}

{% block body %}
<div class="container whiteBloc">
  <div class="center">
    <h1>Ajouter une histoire</h1>
    <form action="{{path('administrator_administration_admin_ajouterBisBHistoire')}}" method="POST" enctype="multipart/form-data">
      <label> Titre: </label><input type="text" value="" name="titre"/><br/>
      <label> Couleur du Titre: </label>
        <button id="picker" name="titreCoul">Voir la palette de couleur</button><br/>


      <label> Contenu du Bloc: </label><input type="text" value="" name="contenuBloc"/><br/>
      <label> Couleur du Bloc: </label><button id="picker" >Voir la palette de couleur</button><br/>
      <label> Lien de la photo: </label><input type="text" value="" name="lienPhoto"/><br/>
      <label> Position de la photo dans le bloc: </label> 
     
      <br/>
       <label>En haut à gauche du bloc : </label><input type="radio" value="HG" name="positionPhotoOnScreen" checked> <br/>
       <label> En haut à droite du bloc : </label><input type="radio" value="HD" name="positionPhotoOnScreen"> <br/>
       <label> En bas à gauche du bloc : </label><input type="radio" value="BG" name="positionPhotoOnScreen"> <br/>

       <label> En bas à droite du bloc : </label><input type="radio" value="BD" name="positionPhotoOnScreen"> <br/>
      
       
      <input type="submit" name="valider" value="Valider" id="form_suivant" class="bouton"/>
      <a id="form_annuler" onclick="history.back()" href='#'>Retour</a><br/><br/>
    </form>
  </div>
</div>

{% endblock %}

{% block js %}
<script src="js/colpick.js" type="text/javascript"> </script>
<script type="text/javascript">
$('#picker').colpick({
  flat:true,
  layout:'hex',
  submit:1
});

{% endblock %}
