/* Accueil */
.texte {
  font-family: 'Coustard', sans-serif;
  background: white;
  margin-top: 5%;
  padding: 0.5em 2em;
  height: 30em;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
  overflow: hidden;
}

.blocContainer {
  width: 90%;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  margin-left: 5%;
}

.soustitre {
  font-size: 150%;
}

@media (max-width: 370px){
  .soustitre{
    font-size: 110%;
  }
}

.newsEntier{
  z-index: 3000;
  display: none;
  position: absolute;
  top: 17em;
  width: 70%;
  min-height: 15em;
  margin-left: 15%;
  padding: 1em;
  padding-top: 3em;
  background: white;
  border: 1px solid grey;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}

@media (max-width: 600px){
  .newsEntier {
    width: 95%;
    margin-left: 2%;
  }
}

.fermer {
  position: absolute;
  right: 1em;
  top: 1em;
}

.troispoints {
  cursor: default;
  color: rgb(143, 0, 0);
  font-style: italic;
  border-radius: 1em;
  padding: 0.5em;
}

.imgRecette {
  width: 100%;
}

.recette {
  text-overflow: ellipsis;
}

.figRec {
  text-align: center;
  float: right;
  width: 45%;
  padding: 0.5em;
  border: 2px dashed;
  -ms-transform: rotate(15deg); /* IE 9 */
  -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
  transform: rotate(15deg);
}

.figRecD {
  text-align: center;
  float: right;
  width: 45%;
  padding: 0.5em;
  border: 2px dashed;
}

.bandeblanche {
  background: white;
  height: 2em;
}

/* Connexion */

.login{
  font-family: 'Coustard', sans-serif;
  background: white;
  margin-top: 5%;
  padding: 0.5em 2em;
  text-align: center;
  min-height: 15em;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
  width: 50%;
  margin-left: 25%;
}

.login h1 {
  font-family: 'Cookie', sans-serif;
}

label {
  width: 130px;
  text-align: left;
}

input {
  width: 40%;
}

@media (max-width:700px){
  .login{
    width: 90%;
    margin-left: 5%;
  }
}

#form_valider {
  margin-top: 1em;
  border: none;
  background: #2DA800;
  background-image: -webkit-linear-gradient(top, #2DA800, #257801);
  background-image: -moz-linear-gradient(top, #2DA800, #257801);
  background-image: -ms-linear-gradient(top, #2DA800, #257801);
  background-image: -o-linear-gradient(top, #2DA800, #257801);
  background-image: linear-gradient(to bottom, #2DA800, #257801);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#form_valider:hover {
  background: #41e600;
  background-image: -webkit-linear-gradient(top, #41e600, #2DA800);
  background-image: -moz-linear-gradient(top, #41e600, #2DA800);
  background-image: -ms-linear-gradient(top, #41e600, #2DA800);
  background-image: -o-linear-gradient(top, #41e600, #2DA800);
  background-image: linear-gradient(to bottom, #41e600, #2DA800);
  text-decoration: none;
}

#form_annuler {
  margin-top: 1em;
  border: none;
  background: #f70808;
  background-image: -webkit-linear-gradient(top, #f70808, #b30003);
  background-image: -moz-linear-gradient(top, #f70808, #b30003);
  background-image: -ms-linear-gradient(top, #f70808, #b30003);
  background-image: -o-linear-gradient(top, #f70808, #b30003);
  background-image: linear-gradient(to bottom, #f70808, #b30003);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#form_annuler:hover{
  background: #f75b5b;
  background-image: -webkit-linear-gradient(top, #f75b5b, #f70808);
  background-image: -moz-linear-gradient(top, #f75b5b, #f70808);
  background-image: -ms-linear-gradient(top, #f75b5b, #f70808);
  background-image: -o-linear-gradient(top, #f75b5b, #f70808);
  background-image: linear-gradient(to bottom, #f75b5b, #f70808);
  text-decoration: none;
}

.lienClient{
  text-decoration: none;
  color: rgb(235, 120, 0);
}

.lienClient:hover{
  text-decoration: overline;
  color: rgb(250, 163, 62);
}

/* Inscription */

#form_dateNaissance {
  display: inline-block;
  width: 40%;
}

#form_dateNaissance_month {
  width: 50%;
}

#form_dateNaissance_day {
  width: 20%;
}

#form_dateNaissance_year {
  width: 30%;
}

#form_jour {
  width: 9%;
}

#form_mois {
  width: 9%;
}

#form_annee {
  width: 20%;
}

@media (max-width: 550px) {
  #form_dateNaissance_month {
    width: 100%;
  }

  #form_dateNaissance_day {
    width: 100%;
  }

  #form_dateNaissance_year {
    width: 100%;
  }
}

/* Contact */
.coordonnee{
  font-family: 'Coustard', sans-serif;
  background: white;
  margin-top: 5%;
  padding: 0.5em 2em;
  min-height: 50em;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
  overflow: hidden;
  text-align: justify;
}

.coordonnee h1, .coordonnee h2 {
  font-family: 'Cookie', cursive;
  line-height: 0.5em;
}

.coordonnee p {
  padding-left: 5em;
}

.iframe {
    position: relative;
    padding-bottom: 60%;
    height: 0;
    overflow: hidden;
    text-align: center;
}

.iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

@media (max-width: 365px){
  .coordonnee p {
    padding-left: 2em;
  }
}

.flash-notice {
  color: rgb(195, 0, 0);
  font-size: 120%;
}

.center {
  text-align: center;
}

.envoyer {
  margin-top: 1em;
  border: none;
  background: rgb(250, 127, 14);
  background-image: -webkit-linear-gradient(top, rgb(250, 127, 14), rgb(214, 92, 4));
  background-image: -moz-linear-gradient(top, rgb(250, 127, 14), rgb(214, 92, 4));
  background-image: -ms-linear-gradient(top, rgb(250, 127, 14), rgb(214, 92, 4));
  background-image: -o-linear-gradient(top, rgb(250, 127, 14), rgb(214, 92, 4));
  background-image: linear-gradient(to bottom, rgb(250, 127, 14), rgb(214, 92, 4));
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.envoyer:hover{
  background: rgb(250, 127, 14);
  background-image: -webkit-linear-gradient(top, rgb(254, 148, 81), rgb(250, 127, 14));
  background-image: -moz-linear-gradient(top, rgb(254, 148, 81), rgb(250, 127, 14));
  background-image: -ms-linear-gradient(top, rgb(254, 148, 81), rgb(250, 127, 14));
  background-image: -o-linear-gradient(top, rgb(254, 148, 81), rgb(250, 127, 14));
  background-image: linear-gradient(to bottom, rgb(254, 148, 81), rgb(250, 127, 14));
  text-decoration: none;
}

/* Notre Histoire */

.carte {
  margin-top: 1em;
  padding: 1em;
  width: 50%;
  min-height: 20em;
  background: white;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}

.gauche {
  -ms-transform: rotate(-5deg); /* IE 9 */
  -webkit-transform: rotate(-5deg); /* Chrome, Safari, Opera */
  transform: rotate(-5deg);
}

.droite {
  margin-left: 45%;
  -ms-transform: rotate(10deg); /* IE 9 */
  -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
  transform: rotate(10deg);
}

@media (max-width: 700px){
  .carte {
    width: 100%;
  }

  .gauche {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }

  .droite {
    margin-left: 0;
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }
}

.one {
    margin-top: 2em;
}

.imgHistoire {
  width: 50%;
  margin: 0.5em;
  border: 2px solid grey;
}

@media (max-width: 450px){
  .imgHistoire{
    width: 95%;
  }
}

/* Compte */
.entiere {
  z-index: 3000;
  text-align: justify;
  display: none;
  position: absolute;
  top: 17em;
  width: 70%;
  min-height: 25em;
  margin-left: 15%;
  padding: 2em;
  padding-top: 3em;
  background: white;
  border: 1px solid grey;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}

.fermer {
  position: absolute;
  right: 1em;
  top: 1em;
}

.commande {
  padding: 0.5em;
  text-align: center;
  border: 1px solid grey;
}

.coordCommande{
  font-family: 'Coustard', sans-serif;
  background: white;
  margin-top: 5%;
  padding: 0.5em 2em;
  height: 55em;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
  overflow: auto;
  text-align: justify;
}

.coordCommande h1, .coordCommande h2, {
  font-family: 'Cookie', cursive;
  line-height: 0.5em;
}

.coordCommande p {
  padding-left: 5em;
}
