/* Recette */
.whiteBloc {
  min-height: 20em;
  margin-top: 2em;
  padding-top: 1em;
  font-family: 'Coustard', sans-serif;
  width: 90%;
  background: white;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}

.ajouter {
  padding: 2em;
  padding-bottom: 1em;
  text-align: right;
}

.recette {
  border: 1px solid grey;
  margin: 1em;
  margin-top: 0em;
  padding: 1em;
  text-align: center;
}

.imgRecette {
  width: 100%;
}

.btn a, .btn a:hover, .btn a:focus {
  text-decoration: none;
  color: inherit;
}

.recetteEntiere {
  z-index: 3000;
  text-align: justify;
  display: none;
  position: absolute;
  top: 17em;
  width: 70%;
  min-height: 15em;
  margin-left: 15%;
  padding: 2em;
  padding-top: 3em;
  background: white;
  border: 1px solid grey;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}

.fermer {
  position: absolute;
  right: 1em;
  top: 1em;
}

@media (max-width: 600px){
  .recetteEntiere {
    width: 95%;
    margin-left: 2%;
  }
}

/* Ajout Recette */
.login{
  font-family: 'Coustard', sans-serif;
  background: white;
  margin-top: 1em;
  padding: 0.5em 2em;
  text-align: center;
  min-height: 15em;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
  width: 70%;
  margin-left: 15%;
}

.login h1, .inIng h1 {
  font-family: 'Cookie', sans-serif;
}

label {
  width: 200px;
  text-align: left;
}

input, select {
  width: 50%;
}

textarea, .textarea {
  width: 70%;
  height: 8em;
}

#form_photo, #form_photos, #form_lienPhoto{
  margin-left: 25%;
}

@media (max-width:700px){
  .login{
    width: 90%;
    margin-left: 5%;
  }
}

@media (max-width:530px){
  label{
    width: auto;
  }
  input, select{
    width: 95%;
  }
  textarea {
    width: 95%;
  }
  #form_photo, #form_photos, #form_lienPhoto{
    margin-left: 2%;
  }
  #form_retour {
    display: inline-block;
  }

}

#form_suivant, #form_ajouter, #form_valider {
  margin-top: 1em;
  border: none;
  background: #2DA800;
  background-image: -webkit-linear-gradient(top, #2DA800, #257801);
  background-image: -moz-linear-gradient(top, #2DA800, #257801);
  background-image: -ms-linear-gradient(top, #2DA800, #257801);
  background-image: -o-linear-gradient(top, #2DA800, #257801);
  background-image: linear-gradient(to bottom, #2DA800, #257801);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#form_suivant:hover, #form_ajouter:hover, #form_valider:hover {
  background: #41e600;
  background-image: -webkit-linear-gradient(top, #41e600, #2DA800);
  background-image: -moz-linear-gradient(top, #41e600, #2DA800);
  background-image: -ms-linear-gradient(top, #41e600, #2DA800);
  background-image: -o-linear-gradient(top, #41e600, #2DA800);
  background-image: linear-gradient(to bottom, #41e600, #2DA800);
  text-decoration: none;
}

#form_annuler {
  margin-top: 1em;
  border: none;
  background: #f70808;
  background-image: -webkit-linear-gradient(top, #f70808, #b30003);
  background-image: -moz-linear-gradient(top, #f70808, #b30003);
  background-image: -ms-linear-gradient(top, #f70808, #b30003);
  background-image: -o-linear-gradient(top, #f70808, #b30003);
  background-image: linear-gradient(to bottom, #f70808, #b30003);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#form_annuler:hover{
  background: #f75b5b;
  background-image: -webkit-linear-gradient(top, #f75b5b, #f70808);
  background-image: -moz-linear-gradient(top, #f75b5b, #f70808);
  background-image: -ms-linear-gradient(top, #f75b5b, #f70808);
  background-image: -o-linear-gradient(top, #f75b5b, #f70808);
  background-image: linear-gradient(to bottom, #f75b5b, #f70808);
  text-decoration: none;
}

#form_retour {
  margin-top: 1em;
  border: none;
  background: rgb(227, 136, 0);
  background-image: -webkit-linear-gradient(top, rgb(227, 136, 0), rgb(212, 125, 65));
  background-image: -moz-linear-gradient(top, rgb(227, 136, 0), rgb(212, 125, 65));
  background-image: -ms-linear-gradient(top, rgb(227, 136, 0), rgb(212, 125, 65));
  background-image: -o-linear-gradient(top, rgb(227, 136, 0), rgb(212, 125, 65));
  background-image: linear-gradient(to bottom, rgb(227, 136, 0), rgb(212, 125, 65));
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#form_retour:hover{
  background: rgb(244, 182, 89);
  background-image: -webkit-linear-gradient(top, rgb(244, 182, 89), rgb(212, 125, 65));
  background-image: -moz-linear-gradient(top, rgb(244, 182, 89), rgb(212, 125, 65));
  background-image: -ms-linear-gradient(top, rgb(244, 182, 89), rgb(212, 125, 65));
  background-image: -o-linear-gradient(top, rgb(244, 182, 89), rgb(212, 125, 65));
  background-image: linear-gradient(to bottom, rgb(244, 182, 89), rgb(212, 125, 65));
  text-decoration: none;
}

/* Ajout Ingredient */

.inIng{
  font-family: 'Coustard', sans-serif;
  margin-top: 1em;
  padding: 0.5em 2em;
  text-align: center;
  min-height: 15em;
  width: 70%;
  margin-left: 15%;
}

.inIng a {
  font-family: 'Cookie', cursive;
  font-size: 250%;
  color: rgb(204, 0, 0);
  text-decoration: underline;
}

.inIng a:hover{
  color: rgb(255, 61, 61);
  text-decoration: overline;
}

/* Modifier une recette */
.imgRecetteM{
  width: 40%;
}

.bouton{
  width: auto;
}

.blocContainer {
  width: 90%;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  margin-left: 5%;
  text-align: center;
  font-family: 'Coustard', sans-serif;
}

.interne {
  background: white;
  margin-top: 5%;
  padding: 0.5em 2em;
  min-height: 30em;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}

.interne h1{
  font-family: 'Cookie', cursive;
}

input.radio {
  width: 50px;
  display: inline;
}

/* Accueil */
.center {
  text-align: center;
}

.center h1 {
  font-family: 'Cookie', cursive;
}


/* Categorie */

.title{
  text-align: center;
  font-family: 'Cookie', cursive;
}

.blogger div{
  display: inline-block;
}

.jour {
  width: 20%;
}

.annee {
  width: 50%;
}

.date {
  width: 50%;
  display: inline-block;
}

/* Mail */
.border {
  border: 2px dashed grey;
  margin: 1em;
  padding: 1em;
  height: 35em;
}

.border textarea {
  height: 20em;
  width: 95%;
}

.border .titreMail {
  width: 95%;
}

.border label{
  width: 100%;
}

.border .radio {
  text-align: left;
}

.border .radio input {
  width: 40%;
  margin-left: 4em;
}

.jour{
  width: 5em;
}

/* Recherche Commande */

.recherche {
  text-align: center;
  padding: 2em;
}

.recherche h1{
  font-family: "Cookie", cursive;
}

.recherche select {
  width: 200px;
}

.recherche .text {
  width: 100px;
}

.entiere {
  z-index: 3000;
  text-align: justify;
  display: none;
  position: absolute;
  top: 17em;
  width: 70%;
  min-height: 25em;
  margin-left: 15%;
  padding: 2em;
  padding-top: 3em;
  background: white;
  border: 1px solid grey;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}

.fermer {
  position: absolute;
  right: 1em;
  top: 1em;
}

.commande {
  padding: 0.5em;
  text-align: center;
  border: 1px solid grey;
  margin-top: 1em;
}

.blabla table, .blabla th, .blabla td {
    border: 1px solid black;
    border-collapse: collapse;
}

.blabla th, .blabla td {
    padding: 1em;
}

/* Histoire */
