html, body{
  font-family: 'Dancing Script', sans-serif;
  height: 100%;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  background: url('../images/fond.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.entete {
  margin: 0em 2em;
  height: 15em;
  background: white;
  border-bottom-right-radius:1em;
  border-bottom-left-radius:1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}

.imgLogo {
  height: 14em;
  margin-left: 2em;
  margin-top: 0.6em;
}

@media (max-width: 500px) {
  .entete {
    height: 8em;
  }

  .imgLogo {
    height: 7em;
    margin-left: 0.5em;
    margin-top: 0.3em;
  }
}
