html, body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  background: url('../images/fond.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.entete {
  text-align: center;
  font-family: 'Dancing Script', sans-serif;
  width: 90%;
  height: 16em;
  background: white;
  border-bottom-right-radius:1em;
  border-bottom-left-radius:1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}

.entete a {
  text-decoration: none;
  color: inherit;
}

.imgLogo {
  height: 14em;
  margin-left: 5%;
  margin-top: 0.6em;
}

.panier {
  height: 5em;
}

.boutonMenu {
  margin-top: 2%;
  width: 5.5em;
  height: 5.5em;
  line-height: 5.5em;
  border-radius: 10em;
  display: inline-block;
  font-size: x-large;
}

@media (max-width: 991px){
  .boutonMenu {
    margin-top: 2%;
    width: 7em;
    height: 2em;
    line-height: 2em;
    border-radius: 10em;
    display: inline-block;
    font-size: large;
  }
}

@media (max-width: 770px) {
  .imgLogo{
      height: 10em;
      margin-left: 0.2em;
      margin-top: 0.3em;
  }
}

.green {
  background: #2DA800;
}

.orange {
  background: #FFA526;
}

.red {
  background: #FF2B2F;
}

.brown {
  background: #B37744;
}

.enBas {
  position: fixed;
  bottom: 0;
  background: white;
}
