html, body{
  height: 100%;
  margin: 0px;
  padding: 0px;
  outline: 0px;
  background: url('../images/fond.png');
  background-size: cover;
  background-repeat: repeat;
}

.entete {
  text-align: center;
  font-family: 'Cookie', sans-serif;
  width: 90%;
  height: 16em;
  background: white;
  border-bottom-right-radius:1em;
  border-bottom-left-radius:1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}

.entete a {
  text-decoration: none;
  color: inherit;
}

.imgLogo {
  height: 14em;
  margin-left: 5%;
  margin-top: 0.6em;
}

.panier {
  height: 3em;
  margin-top: 5%;
}

.boutonMenu {
  width: 4em;
  height: 4em;
  line-height: 4em;
  border-radius: 10em;
  display: inline-block;
  font-size: x-large;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}

.title {
  font-size: 450%;
  margin-top: 0.3em;
}

.boutonMenu:hover {
  animation: bounceY 0.35s ease infinite alternate;
}

@keyframes bounceY{
     from {transform: translateY(0px);}
     to   {transform: translateY(-20px);}
}

@keyframes bounceX{
     from {transform: translateX(0px);}
     to   {transform: translateX(-20px);}
}

@media (max-width: 991px){
  .boutonMenu {
    margin-top: 0.5%;
    width: 7em;
    height: 2em;
    line-height: 2em;
    border-radius: 10em;
    display: inline-block;
    font-size: large;
  }
  .boutonMenu:hover {
    animation: bounceX 0.35s ease infinite alternate;
  }
}

@media (max-width: 1100px){
  .title {
    font-size: 300%;
  }
}

@media (max-width: 931px){
  .title {
    font-size: 230%;
  }

  .panier {
    height: 2em;
  }
}

@media (max-width: 770px) {
  .imgLogo{
      height: 10em;
      margin-left: 0.2em;
      margin-top: 0.3em;
  }
}

@media (max-width: 339px) {
  .title {
    font-size: 150%;
  }
  .boutonMenu {
    margin-top: 0.5%;
    width: 4em;
    height: 2em;
    line-height: 2em;
    border-radius: 10em;
    display: inline-block;
    font-size: large;
  }
  .boutonMenu:hover {
    animation: bounceX 0.35s ease infinite alternate;
  }
}

.green {
  background: #2DA800;
}

.orange {
  background: #FFA526;
}

.red {
  background: #FF2B2F;
}

.brown {
  background: #B37744;
}

.enBas{
  z-index: 100;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  padding-bottom: 0.3em;
  border-top-right-radius:1em;
  border-top-left-radius:1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
              0 3px 5px rgba(0, 0, 0, .2),
              0 5px 10px rgba(0, 0, 0, .2),
              0 20px 20px rgba(0, 0, 0, .15);
}

.footer {
  font-family: 'Coustard', sans-serif;
  font-size: 80%;
  color: white;
  text-align: center;
}
