{# src/Administrator/Adminstration/AdminBundle/Resources/views/validation.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  <link href="{{ asset('bundles/accueilaccueil/css/Administration.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
 Validation 
{% endblock %}

{% block body %}
  <div class="container whiteBloc">
    <h1> NewsLetter! </h1>
    <p> Votre Newsletter a bien été envoyée à tous vos clients! <br/>
      (Sous reserve qu'ils soient abonnées à votre Newsletter)<br/>
      Bonne journée! </p>
  </div>
{% endblock %}
