{# src/Administrator/Administration/views/Gerer/ddeActionsClients.html.twig #}
{% extends '::base.html.twig' %}

{% block style %}
  
{% endblock %}

{% block title %}
	
{% endblock %}

{% block body %}
  <H1>administrateur : Que Voulez vous faire?</h1>

{% endblock %}

{% block js %}

{% endblock %}

